html {
  scroll-behavior: smooth;
}
body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: black;
  color: white;
}
@media screen and (max-width: 600px) {
  #headerMenu {
    bottom: 0px;
    position: fixed;
    width: 100%;
  } 

  #header-boven {
    background-image: none!important;     /*sorry helaas important js gunt niet :( */
    padding-top: 50%;
    padding-bottom: 55%;
    opacity: 0;
  }
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-menu {
    float: none;
    margin:0px;
    position: relative;
  }
  .logo img{
    top: 20px;
    width: 100%;
    height: auto; 
    filter:drop-shadow(1px 1px 3px black);  

  }
  .header-menu a:not(:first-child) {
    display: none;
  }
  .header-menu a.hamburger {
    float: right;
    display: block;

  }
  .header-menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .hamburger {
    position: absolute;
    right: 0;
    top: 0;
  }
} /*End mobile only                 xxxxxxxxxxxxxxxxxxxxx           xxxxxxxxxxxxxxxxxxxxxxxx             xxxxxxxxxxxx*/ 


.header-menu {
  margin-top: 10px;
  display: hidden;
}

.header {
  overflow: hidden;
  /*padding: 20px 10px;*/
}

.header-menu .hamburger {
  display: none;
  color: white;
}
.header a {
  filter:drop-shadow(1px 1px 5px black);  
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 10px;
}
.logo img{
   -webkit-animation: logo-ani 4s infinite linear;
   animation: logo-ani 4s infinite linear;
   filter:drop-shadow(2px 2px 5px black);  
}
.header a.active {
  background-color: #a20000;
  color: white; 
}
.menu {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.menu:hover{
  background-color: #610000;
  color: white;
}


@-webkit-keyframes logo-ani {
0%  { transform: rotate(3deg);   }
25% { transform: rotate(0deg);  }
50% { transform: rotate(-3deg);  }
100%{ transform: rotate(3deg);  }
}

@keyframes logo-ani {
0%  { transform: rotate(3deg);   }
25% { transform: rotate(0deg);  }
50% { transform: rotate(-3deg);  }
100%{ transform: rotate(3deg);  }
}



